.commentBox {

    margin-top: 50px;
    text-align:center;
}
.commentsBox {
    text-align: center;
}
.commentsList {
    display: none;
    list-style: none;
}
.commentsItem {

}
.commentsButton:hover {
    cursor: pointer;
}