.commentBox {

    margin-top: 50px;
    text-align:center;
}
.commentsBox {
    text-align: center;
    border: 2px solid red;
}
.commentsList {
    border: 2px solid;
    list-style: none;
}
.commentsItem {
    background-color: rgb(0, 168, 65);
}